---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import CardWrapper from "../components/CardWrapper.astro";
import Card from "../components/Card.astro";
import SmallCard from "../components/SmallCard.astro";
import ProductCard from "../components/ProductCard.astro";
import Social from "../components/Social.astro";
import Work from "../components/Work.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sable Lake</title>
  <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="./lake-photo.jpg">
</head>
<body class="bg-gray-200">
  <Navbar />
  <Hero />
  <!-- <Hero /> -->
  <CardWrapper title="Articles" viewAllLink="articles">
    <Card title="Do You Consent to Noise?" description="Noise as undesired information and its impact on cognitive behavior." imageSrc="./noise.webp" link="noise-consent"/>
    <Card title="Dialling Down and Reading on Paper" description="Discussing some personal habits and decisions that help in going offline." imageSrc="" link="dialing-down"/>
    <Card title="Separate Devices" description="Multi-purpose technology impact on behavior and what we can do about it." imageSrc="" link="separate-devices"/>
    <!-- <Card title="Resources for Living Offline" description="unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with" imageSrc="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" link="article"/> -->
  </CardWrapper>
  <CardWrapper title="Book Reviews">
    <Card title="Digital Minimalism" description=" Cal Newport" imageSrc="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" link="digital-minimalism"/>
    <Card title="Understanding Media" description="Marshall McLuhan" imageSrc="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" link="understanding-media"/>
    <Card title="Shop Class as Soulcraft" description="Matthew Crawford" imageSrc="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" link="shop-class"/>
  </CardWrapper>
  <CardWrapper title="Activities">
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
  </CardWrapper>
  <CardWrapper title="Communities & Movements">
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
    <SmallCard />
  </CardWrapper>
  <CardWrapper title="Offline Merchandise">
    <ProductCard />
    <ProductCard />
    <ProductCard />
  </CardWrapper>
  <!-- <CardWrapper title="Social & Visuals" hideViewAll={true}>
    <Social />
    <Social />
    <Social />
  </CardWrapper> -->
  <Footer />
  <script src="../../node_modules/preline/dist/preline.js"></script>
</body>
</html>
