---
const {title, hideViewAll, viewAllLink}= Astro.props
---
<section class="w-full max-w-7xl mx-auto py-4 px-2">
  <div class="w-full flex justify-between mb-4">
    <h2 class="text-3xl">{title}</h2>
    {!hideViewAll && <a href={viewAllLink}>View all</a>}
  </div>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <slot />
  </div>
</section>