<!-- Hero -->
<div class="max-w-7xl mx-auto py-8 px-2">
  <!-- Grid -->
  <div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
    <div class="lg:col-span-3">
    <h1 class="text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl text-slate-800 mb-2">Sable Lake</h1>
    <h2 class="my-2 text-3xl">Enhanced offline reality</h2>
      <p>
        This is a project that aims to improve help people enhance their offline life and spend less time on their digital devices. We recognize the benefits of digital technology and its capabilities, that is why we are not seeking an alternative but a complement.
        <br>
        Everyone should be information conscious and maintain a healthy information diet. As a result, we are designing "offline products", writing articles, discussing research and compiling a repository of information on how to enhance your offline life.
      </p>
    </div>
    <!-- End Col -->

    <div class="lg:col-span-4 mt-10 lg:mt-0">
      <img class="w-full" src="./public/landing.png" alt="Image Description">
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->