---
const { title, description, hideDesc, modalId, href } = Astro.props;
---

<a class="cursor-pointer group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition"
   href={href ? href : undefined}
   target={href ? "_blank" : undefined}
   rel={href ? "noopener noreferrer" : undefined}
   data-hs-overlay={modalId ? `#${modalId}` : undefined}>
  <div class="p-4 md:p-5">
    <div class="flex justify-between items-center">
      <div>
        <h3 class= "font-epilogue font-medium text-hunter-green-700">
          {title}
        </h3>
        {!hideDesc && description && (<p class="font-epilogue text-sm mt-2 text-hunter-green-700">{description}</p>)}
      </div>
      <div class="pl-3">
        {href ? (
          <svg class="flex-shrink-0 size-3 md:size-3.5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M7 7h10v10"></path>
            <path d="M7 17 17 7"></path>
          </svg>
        ) : (
          <svg class="w-3.5 h-3.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        )}
      </div>
    </div>
  </div>
</a>